<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cr999.cn.user.biz.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cr999.cn.entity.user.User">
        <result column="id" jdbcType="VARCHAR" property="id"/>

    </resultMap>
</mapper>